/*@media screen and (max-width:1024px) and (min-width: 769px){
 body {
	background-image: url('../img/fondo-ancho.jpg') !important;
 }
 nav{
 	height: 40px !important;
 }
 .brand-logo{
 	margin-top: -8px !important;
 	font-size: 23px !important;
 }

 }
@media only (max-width:768px){
 body {
	background-image: url('../img/fondo-largo.jpg');
 }
}
 
*/.fondo{
	background-image: url('../img/fondo-largo.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}